@import "_type-steam";


#users{
    width: 100%;
    height: 100vh;
    color: #d2d2d2;
    font-size: 25px;
}

.side-types {
    position: absolute;
    width: 75px;
    background: #111111;
    margin: 0;
    top: 0;
    bottom: 0;

    .types {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        text-align: center;
    }

    li {
        display: inline-block;
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }

    img {
        margin: 0 auto;
        width: 50px;
        height: 50px;
    }
}

#user-content {
    position: absolute;
    left: 75px;
    top: 0;
    right: 0;
    bottom: 0;
}