#games-list{
    position: relative;
    width: 300px;
    height: 100vh;
    float: left;
    background: rgb(5, 5, 5);

    .gl-headline{
        margin: 0;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 65px;
        left: 30px;
    }
}

#games{
    margin: 100px 0 0 30px;
    position: relative;
    width: calc(100% - 30px);
    height: calc(100vh - 100px);
    overflow-y: auto;
}

#header-section{
    position: relative;
    background: rgb(3, 91, 192);
    min-height: 350px;
    overflow: hidden;
    width: 100%;
    max-height: 70vh;
    margin: 0;

    #header-img-section{
        position: relative;
        background: rgb(3, 91, 192);
        min-height: 350px;
        overflow: hidden;
        width: 100%;
        max-height: 70vh;
        margin: 0;

        #header-img-wrapper {
            position: relative;
            width: 100%;
            padding-bottom: 32.29%;
            min-height: 350px;
            overflow: hidden;
    
            #header-img {
                position: absolute;
                width: 100%;
                height: 100%;
                max-height: 70vh;
                background-size: cover;
                background-position: center center;
            }
            #header-img-dark {
                position: absolute;
                width: 100%;
                height: 100%;
                max-height: 70vh;
                z-index: 10;
                background: linear-gradient(to bottom, rgba(18,18,18,0.1) 0%,rgba(18,18,18,0.57) 54%,rgba(18,18,18,0.8) 92%,rgba(18,18,18,0.83) 93%,rgba(18,18,18,1) 100%);
            }
        }
    }

    .header-content{
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
        display: grid;
        z-index: 12;
        grid-template-rows: auto auto auto;
    }

    #header-name {
        width: auto;
        position: relative;
        color: #FFF;
        //text-shadow: 0px 0px 9px #000000;
        font-weight: bold;
        font-size: 4vw;
        line-height: 4vw;
        padding: 0;
        margin: 0 0 30px 0;
    }
    #header-type {
        color: #FFF;
        //text-shadow: 0px 0px 9px #000000;
        margin: 0;
        font-size: 20px;
    }

    .header-menu-container{
        position: relative;
    }

    #header-menu {

        margin: 0;
        width: auto;
        float: left;

        li {
            margin-right: 30px;
            display: inline-block;
            position: relative;
        }
    
        li:last-child {
            margin-right: 0;
        }

        .header-menu-item {
            color: #a7a7a7;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 15px;
        }

        .header-menu-item::before{
            content: "";
        }

        .header-menu-item.active {
            color: #FFF;
        }

        .header-menu-item.active::before {
            content: "";
            height: 2px;
            background-color: #0189d8;
            width: 30px;
            position: absolute;
            display: block;
            left: 50%;
            bottom: -4px;
            margin-left: -15px;
        }
    }
}

#minibtn-menu {

    margin: 0;
    width: auto;
    float: right;

    li {
        margin-right: 5px;
        display: inline-block;
        position: relative;

        .minibtn-menu-item {
            width: 32px;
            height: 32px;
            background: #68686855;
            color: #FFF;
            line-height: 32px;
            font-size: 20px;
            text-align: center;
            border-radius: 2px;
            transition: all .2s ease-in-out;
            position: relative;
            //border: solid ;

            .minibtn-tt {
                visibility: hidden;
                opacity: 0;
                bottom: 110%;
                left: 50%;
                margin-left: -50%;
                padding: 0 5px 0 5px;
                z-index: 100;
                color: white;
                position: absolute;
                font-size: 15px;
                background: #68686871;
                transition: all .2s linear;
            }
        }

        .minibtn-menu-item:hover{
            background: rgba(12, 112, 206, 0.514);
        }

        .minibtn-menu-item:hover .minibtn-tt {
            opacity: 1;
            visibility: visible;
            display: inline-block;
        }
    }

    li:last-child {
        margin-right: 0;
    }


}

#games-main {
    width: calc(100% - 300px);
    height: 100vh;
    overflow-y: auto;
    background: rgb(18, 18, 18);
    position: relative;
}

#game-content {
    width: 100%;
    background: #121212;
}

.display{
    width: 100%;
    height: 28px;
    padding: 4px 0 4px 0;
    position: relative;
    overflow: hidden;
}

.display-img{
    height: 100%;
    position: relative;
    transition: transform .5s ease;
    float: left;
}

.display-name{
    position: absolute;
    left: 33px;
    font-family: sans-serif;
    font-size: 15px;
    white-space: nowrap;
    line-height: 20px;
    color: rgb(219, 219, 219);
    cursor: default;
}

.display:hover{
    background: #FFFFFF10;
}

.header-interact {
    overflow: hidden;
}

#header-interact-menu {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;

    li {
        padding-right: 40px;
        display: inline-block;
    }

    li:last-child {
        padding-right: 0;
    }
}

.info-item{

    display: grid;
    grid-auto-rows: 1fr 1fr;
    min-width: 120px;
    height: 50px;
    position: relative;
    

    .info-title {
        color: rgb(230, 230, 230);
        font-size: 17px;
        line-height: 19px;
        text-transform: uppercase;
        height: 25px;
    }

    .info-value {
        color: rgb(179, 179, 179);
        font-size: 17px;
        line-height: 1fr;
    }
}

#info-user {
    i{
        float: right;
        line-height: 25px;
    }
}

#info-user.active{
    top: 25px;
    position: absolute;
    background: rgb(78, 78, 78);
    max-height: 100px;
    height: 75px;
    overflow: scroll;
    z-index: 100;
}

.launch-btn {
    width: 240px;
    height: 50px;
    background: linear-gradient(to right, #0064b1 0%,#0fdbff 100%); // 5acee2
    color: #FFF;
    line-height: 50px;
    font-size: 25px;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    background-size: 450px 1px;  
    transition: background .6s ease-out;
}

.launch-btn:hover {
    background-position-x: -210px;  
}