#games-list{
    position: relative;
    width: 300px;
    height: 100vh;
    float: left;
    background: rgb(5, 5, 5);

    .gl-headline{
        margin: 0;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 65px;
        left: 30px;
    }
}

#games{
    margin: 100px 0 0 30px;
    position: relative;
    width: calc(100% - 30px);
    height: calc(100vh - 100px);
    overflow-y: auto;
}

#header-section{
    position: relative;
    background: rgb(3, 91, 192);
    height: 65vh;
    width: 100%;
    margin: 0;

    #header-img {
        width: 100%;
        height: 65vh;
        background-size: cover;
        background-position-x: center;
    }

    #header-name {
        position: absolute;
        bottom: 10px;
        left: 15px;
        color: #FFF;
        text-shadow: 0px 0px 9px #000000;
        margin: 0;
    }
}

#games-main {
    width: calc(100% - 300px);
    height: 100vh;
    overflow-y: auto;
    background: rgb(27, 27, 28);
}

#game-content {
    width: 100%;
    height: calc(90vh - 400px);
}

.display{
    width: 100%;
    height: 28px;
    padding: 4px 0 4px 0;
    position: relative;
    overflow: hidden;
}

.display-img{
    height: 100%;
    position: relative;
    transition: transform .5s ease;
    float: left;
}

.display-name{
    position: absolute;
    left: 33px;
    font-family: sans-serif;
    font-size: 15px;
    white-space: nowrap;
    line-height: 20px;
    color: rgb(219, 219, 219);
    cursor: default;
}

.display:hover{
    background: #FFFFFF10;
}

#menu-items {
    width: calc(100% - 30px);
    height: 50px;
    margin: 15px;
    list-style-type: none;

    li {
        float: left;
        padding-right: 50px;
    }

    li:last-child {
        padding-right: 0;
    }
}

.info-item{

    display: grid;
    grid-auto-rows: 1fr 1fr;
    

    .info-title {
        color: rgb(230, 230, 230);
        font-size: 17px;
        line-height: 19px;
        text-transform: uppercase;
    }

    .info-value {
        color: rgb(179, 179, 179);
        font-size: 17px;
        line-height: 1fr;
    }
}

.launch-btn {
    width: 240px;
    height: 50px;
    background: linear-gradient(to right, #0064b1 0%,#0fdbff 100%); // 5acee2
    color: #FFF;
    line-height: 50px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    background-size: 450px 1px;  
    transition: background .6s ease-out;
}

.launch-btn:hover {
    background-position-x: -210px;  
}