#games-list{
    position: relative;
    width: 300px;
    height: 100vh;
    float: left;
}

#games{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 10px 0 0 10px;
    overflow: scroll;
    background: var(--main-bg-light);
}

#header-section{
    position: relative;
    background: blue;
    height: 400px;
    width: 100%;
    margin: 0;

    #header-img {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position-x: center;
    }

    #header-name {
        position: absolute;
        bottom: 10px;
        left: 15px;
        color: #FFF;
        text-shadow: 0px 0px 9px #000000;
        margin: 0;
    }
}

#games-main {
    width: calc(100% - 300px);
    height: 100vh;
    overflow-y: scroll;
    background: var(--main-bg);
}

#game-content {
    width: 100%;
    height: 90vh;
}

.display{
    width: 100%;
    height: 30px;
    padding: 5px 0 5px 0;
    background-color: var(--main-bg-light);
    position: relative;
    overflow: hidden;
}

.display-img{
    height: 100%;
    position: relative;
    transition: transform .5s ease;
    float: left;
}

.display-name{
    position: absolute;
    left: 27px;
    font-family: sans-serif;
    font-size: 16px;
    white-space: nowrap;
    line-height: 20px;
    color: var(--main-text);
    cursor: default;
}

.display:hover{
    background: #FFFFFF10;
}

#menu-items {
    width: calc(100% - 30px);
    height: 50px;
    margin: 15px;
    list-style-type: none;

    li {
        float: left;
        padding-right: 50px;
    }

    li:last-child {
        padding-right: 0;
    }
}

.info-item{

    display: grid;
    grid-auto-rows: 1fr 1fr;
    

    .info-title {
        color: rgb(156, 156, 156);
        font-size: 19px;
        line-height: 19px;
    }

    .info-value {
        color: rgb(255, 255, 255);
        font-size: 17px;
        line-height: 1fr;
    }
}

.launch-btn {
    width: 240px;
    height: 50px;
    background: linear-gradient(to right, #0067b6 0%,#00d9ff 100%); // 5acee2
    color: #FFF;
    line-height: 50px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    background-size: 450px 1px;  
    transition: background 1s ease-out;
}

.launch-btn:hover {
    background-position-x: -210px;  
}