.s-headline {
    color: #FFF;
    margin: 0 0 20px 0;
    //text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(116, 116, 116);
}

.s-headline-2 {
    color: rgb(211, 211, 211);
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.s-headline-3 {
    color: rgb(139, 138, 138);
    font-size: 17px;
    margin-top: 0px;
    width: 100%;
}

.s-head-container {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;

    .s-headline-2 {
        margin: 5px 0 5px 0;
    }
    .s-headline-3 {
        margin: 0;
    }
}

.s-container-area {
    margin-bottom: 30px;
}

.s-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    background: rgb(41, 41, 41);
    width: 100%;
    min-height: 50px;
    position: relative;
    border: 1px solid rgb(56, 56, 56);

    .s-name {
        color: rgb(235, 235, 235);
        font-weight: bold;
        font-size: 17px;
        line-height: 19px;
        margin: 10px;
    }

    .s-content {
        margin: 12px;

        .s-info {
            color: rgb(167, 167, 167);
        }

        .onoffswitch {
            margin-bottom: 5px;
        }
    }
}

.s-container-area .s-container{
    input[type=text]{
        color: #FFF;
        font-size: 20px;
        line-height: 20px;
        width: 100%;
        height: 35px;
    }
    input[type=password]{
        color: #FFF;
        font-size: 20px;
        line-height: 20px;
        width: 100%;
        height: 35px;
    }
    input[type=text]:focus{
        border-bottom: 1px solid #006faf;
        box-shadow: 0 1px 0 0 #006faf;
    }
    input[type=password]:focus{
        border-bottom: 1px solid #006faf;
        box-shadow: 0 1px 0 0 #006faf;
    }
    input[type=text]:disabled{
        color: rgb(105, 105, 105);
    }
}

.s-save {
    float: right;
    background: transparent;
    color: #006faf;
    padding: 0 20px 0 20px;
    min-width: 100px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border: 2px #006faf solid;
    border-radius: 1px;
    transition: all .15s ease;
}

.s-save:hover{
    background: #006faf;
    color: #000;
}

.s-delete {
    float: right;
    background: transparent;
    color: rgb(119, 0, 0);
    padding: 0 20px 0 20px;
    min-width: 100px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border: 2px rgb(119, 0, 0) solid;
    border-radius: 1px;
    transition: all .15s ease;
}

.s-delete:hover{
    background: rgb(119, 0, 0);
    color: #000;
}

.s-button {
    float: right;
    background: #006faf;
    color: #FFF;
    padding: 0 20px 0 20px;
    min-width: 100px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    border-radius: 1px;
    transition: all .15s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.s-button:hover{
    background: #0084d1;
}