#user-list-c {
    position: relative;
    padding-top: 120px;
    width: 100%;
    height: 280px;
    background: url("https://steamstore-a.akamaihd.net/public/images/v6/colored_body_top2.png?v=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: scroll;
    overflow-y: hidden;

    #user-list {
        margin: 0;
        margin-left: 10px;
        position: relative;
        white-space: nowrap;
        text-align: center;
    }

    li{
        display: inline-block;
        position: relative;
        margin-right: 15px;
    }

    .user {
        width: 250px;
        height: 150px;
        position: relative;
        overflow: hidden;
        float: none;

        .user-back {
            background: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/47/476f16d1a2188f6dee5ac57a20fc2b6004ed1449_full.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transition: transform .3s linear;
        }
        .user-back::after {
            content: '';
            background: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transition: background .3s linear;
        }

        .user-name{
            transition: bottom .15s ease-in-out, background .3s linear;
            position: absolute;
            bottom: -20%;
            background: #00000090;
            height: 60%;
            text-align: start;
            width: 100%;
            padding-left: 5%;
        }

        .user-btns {
            position: absolute;
            bottom: 10%;
            width: 100%;
            opacity: 0;
            transition: opacity .3s ease;
            display: grid;
            grid-row: 1;
            grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

            .user-switch {
                height: 30px;
                width: 90%;
                margin-left: 5%;
                background: linear-gradient(to right, #0064b1 0%,#0fdbff 200%);
                background-size: 250px;
                font-size: 19px;
                text-align: center;
                color: #FFF;
                cursor: pointer;
            }
        }
    }

    .user:hover {
        .user-name {
            bottom: 0%;
        }

        .user-btns {
            opacity: 1;
        }
    }

    .user.active {

        .user-name {
            background: #00405e98;
            color: #FFF;
        }

        .user-back{
            transform: scale(1.05);
        }

        .user-back::after {
            background: rgba(0, 0, 0, 0.1);
        }
    }
}

.code-area {
    width: 300px;
    height: calc(100vh - 280px);
    background: rgb(26, 26, 26);

    .code-container {
        width: 100%;
        height: 150px;
        background: rgb(22, 22, 22);
        position: relative;
    }

    #current-code {
        width: 100%;
        height: 100%;
        line-height: 150px;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
    }

    #current-user {
        position: absolute;
        left: 25px;
        top: 20px;
        font-size: 20px;
    }

    #code-time {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5px;
        background: #006faf;
        transition: all 1s linear;
    }

    input {
        color: #FFF;
    }
}

.trades-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    #trades {
        width: calc(100% - 50px);
        margin: 25px 25px 25px 25px;
        height: calc(100% - 50px);

        li{
            margin-bottom: 10px;
        }
    }

    .trade {
        display: block;
        position: relative;
        background: linear-gradient(45deg, #1a5c83 0%,#2b2b2b 100%);
        width: 100%;
        height: 75px;
        float: none;
        overflow: hidden;

        img {
            width: 75px;
            height: 75px;
            background: #00000050;
            float: left;
        }

        .t-details {
            position: absolute;
            left: 78px;
            .t-name {
                margin: 5px 0 0 5px;
                font-size: 20px;
                line-height: 20px;
                float: none;
                white-space: nowrap;
            }
            .t-price {
                color: #8f8f8f;
                margin: 7px 0 0 5px;
                font-size: 15px;
                line-height: 15px;
                float: none;
            }
            .t-date {
                color: #8f8f8f;
                margin: 5px 0 0 5px;
                font-size: 15px;
                line-height: 15px;
            }
        }

        .t-options {
            position: absolute;
            right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75px;

            div{
                font-size: 20px;
                line-height: 20px;
            }

            .t-accept {
                color: rgb(0, 111, 175);
                font-weight: bold;
                margin-right: 20px;
            }
        }
    }
}

.notrades {
    position: absolute;
    display: grid;
    text-align: center;
    row-gap: 10px;

    i {
        color: rgb(0, 111, 175);
    }

    .notrades-sub-text {
        font-size: 18px;
        color: rgb(153, 153, 153);
    }

    #secret {
        color: #FFF;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 7px;
        width: 340px;
        text-align: center;
       // border-color: #0064b1;
    }

    #secret:focus{
        border-bottom: 1px solid #006faf;
        box-shadow: 0 1px 0 0 #006faf;
    }

    #captcha {
        color: #FFF;
        font-size: 40px;
        line-height: 40px;
        padding-bottom: 7px;
        text-align: center;
        //width: 340px;
       // border-color: #0064b1;
    }

    #captcha:focus{
        border-bottom: 1px solid #006faf;
        box-shadow: 0 1px 0 0 #006faf;
    }

}



.steam-bottom {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    height: calc(100vh - 280px);
}