
#u-content-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(139deg, rgba(47,47,47,1) 34%, rgba(0,44,54,1) 100%);
}

#u-content {
    width: 80%;
    display: grid;
    position: relative;
}

#u-title {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-bottom: 5px;
    position: absolute;
    top: 5px;
    left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#u-status {
    color: rgb(219, 219, 219);
    font-size: 20px;
    margin-bottom: 5px;
}

#u-speed {
    width: 100%;
    position: relative;
    margin-top: 5px;

    #u-downloaded {
        color: rgb(219, 219, 219);
        font-size: 15px;
        margin-top: 7px;
    }

    #u-d-speed {
        color: rgb(219, 219, 219);
        font-size: 15px;
        margin: 7px 0 0 10px;
        position: absolute;
        right: 0;
    }
}

#u-bar-container {

    width: 100%;
    position: relative;
    
    #u-bar-back {
        position: absolute;
        width: 100%;
        height: 1px;
        top: 2px;
        background: rgb(219, 219, 219);
    }

    #u-bar-progress {
        position: absolute;
        width: 50%;
        height: 5px;
        background: rgb(12, 112, 206);
        z-index: 10;
    }
}