:root {
  --main-primary: #0077b9;
  --main-bg: #202020;
  --main-bg-light: #252525;
  --main-text: #e9e7e7; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-color: var(--main-bg);
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div {
  float: left; }

#navbar-container {
  margin: 0px;
  width: 100%;
  background-color: transparent;
  padding-bottom: 0px;
  overflow: hidden; }

#head {
  position: fixed;
  width: 100%;
  z-index: 100;
  pointer-events: none; }

#header {
  height: 35px;
  background: transparent;
  width: 100%;
  -webkit-app-region: drag;
  position: relative; }

#navbar {
  list-style-type: none;
  float: right;
  margin-top: 15px;
  padding-right: 20px;
  pointer-events: all; }

#navbar li {
  float: left;
  margin-right: 25px;
  text-transform: uppercase; }

.navbar-header {
  color: var(--main-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-shadow: 0px 0px 9px #000000, 0px 0px 9px #000000;
  transition: color 0.2s ease-in-out;
  width: calc(auto + 10px); }

.navbar-header.active {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 9px #000000, 0px 0px 9px #000000; }

.navbar-header:hover {
  color: #fff; }

#content {
  width: 100%;
  overflow: auto;
  background-color: var(--main-bg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  font-family: "Segoe MDL2 Assets";
  font-size: 10px;
  pointer-events: all; }

#window-controls {
  -webkit-app-region: no-drag; }

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

#window-controls .button {
  user-select: none;
  cursor: default;
  color: #ececec;
  background: rgba(0, 0, 0, 0.1); }

#window-controls .button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #FFF; }

#window-controls #min-button {
  grid-column: 1; }

#window-controls #max-button, #window-controls #restore-button {
  grid-column: 2; }

#window-controls #restore-button {
  display: none; }

#window-controls #close-button {
  grid-column: 3; }

#window-controls #close-button:hover {
  background: #E81123; }

::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #969696;
  border: 0px none #ffffff;
  border-radius: 50px; }

::-webkit-scrollbar-track {
  background: #66666600;
  border: 0px none #ffffff;
  border-radius: 50px; }

::-webkit-scrollbar-corner {
  background: transparent; }

#option-container {
  background: #3b3b3b;
  color: #bbb9b9;
  display: grid;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: -12px 21px 52px -1px rgba(0, 0, 0, 0.56); }
  #option-container #option-content div {
    width: 100%;
    font-size: 17px;
    line-height: 30px;
    padding-left: 0px; }
  #option-container #option-content div:hover {
    width: 100%;
    background: rgba(255, 255, 255, 0.062);
    color: #cecece; }

.onoffswitch {
  position: relative;
  width: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 22px;
  padding: 0;
  line-height: 0px;
  font-size: 0px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "";
  padding-left: 5px;
  background-color: #006faf;
  color: #FFFFFF; }

.onoffswitch-inner:after {
  content: "";
  padding-right: 5px;
  background-color: #4e4e4e;
  color: #666666;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 22px;
  margin: 0px;
  background: #e6e6e6;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 17px;
  border: 2px solid #4e4e4e;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

#games-list {
  position: relative;
  width: 300px;
  height: 100vh;
  float: left;
  background: #050505; }
  #games-list .gl-headline {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 65px;
    left: 30px; }

#games {
  margin: 100px 0 0 30px;
  position: relative;
  width: calc(100% - 30px);
  height: calc(100vh - 100px);
  overflow-y: auto; }

#header-section {
  position: relative;
  background: #035bc0;
  min-height: 400px;
  overflow: hidden;
  width: 100%;
  max-height: 70vh;
  margin: 0; }
  #header-section #header-img-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 32.29%;
    min-height: 400px;
    overflow: hidden; }
    #header-section #header-img-wrapper #header-img {
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 70vh;
      background-size: cover;
      background-position: center center; }
  #header-section #header-name {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #FFF;
    text-shadow: 0px 0px 9px #000000;
    margin: 0; }

#games-main {
  width: calc(100% - 300px);
  height: 100vh;
  overflow-y: auto;
  background: #1b1b1c;
  position: relative; }

#game-content {
  width: 100%;
  background: #1b1b1c; }

.display {
  width: 100%;
  height: 28px;
  padding: 4px 0 4px 0;
  position: relative;
  overflow: hidden; }

.display-img {
  height: 100%;
  position: relative;
  transition: transform .5s ease;
  float: left; }

.display-name {
  position: absolute;
  left: 33px;
  font-family: sans-serif;
  font-size: 15px;
  white-space: nowrap;
  line-height: 20px;
  color: #dbdbdb;
  cursor: default; }

.display:hover {
  background: #FFFFFF10; }

#menu-items {
  display: inline-block;
  width: 100%;
  height: 80px;
  padding: 15px;
  margin: 0;
  list-style-type: none;
  white-space: nowrap;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.43); }
  #menu-items li {
    float: left;
    padding-right: 50px; }
  #menu-items li:last-child {
    padding-right: 0; }

.info-item {
  display: grid;
  grid-auto-rows: 1fr 1fr;
  min-width: 120px;
  height: 50px;
  position: relative; }
  .info-item .info-title {
    color: #e6e6e6;
    font-size: 17px;
    line-height: 19px;
    text-transform: uppercase;
    height: 25px; }
  .info-item .info-value {
    color: #b3b3b3;
    font-size: 17px;
    line-height: 1fr; }

#info-user i {
  float: right;
  line-height: 25px; }

#info-user.active {
  top: 25px;
  position: absolute;
  background: #4e4e4e;
  max-height: 100px;
  height: 75px;
  overflow: scroll;
  z-index: 100; }

.launch-btn {
  width: 240px;
  height: 50px;
  background: linear-gradient(to right, #0064b1 0%, #0fdbff 100%);
  color: #FFF;
  line-height: 50px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  background-size: 450px 1px;
  transition: background .6s ease-out; }

.launch-btn:hover {
  background-position-x: -210px; }

#user-list-c {
  position: relative;
  padding-top: 120px;
  width: 100%;
  height: 280px;
  background: url("https://steamstore-a.akamaihd.net/public/images/v6/colored_body_top2.png?v=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: scroll;
  overflow-y: hidden; }
  #user-list-c #user-list {
    margin: 0;
    margin-left: 10px;
    position: relative;
    white-space: nowrap;
    text-align: center; }
  #user-list-c li {
    display: inline-block;
    position: relative;
    margin-right: 15px; }
  #user-list-c .user {
    width: 250px;
    height: 150px;
    position: relative;
    overflow: hidden;
    float: none; }
    #user-list-c .user .user-back {
      background: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/47/476f16d1a2188f6dee5ac57a20fc2b6004ed1449_full.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: transform .3s linear; }
    #user-list-c .user .user-back::after {
      content: '';
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: background .3s linear; }
    #user-list-c .user .user-name {
      transition: bottom .15s ease-in-out, background .3s linear;
      position: absolute;
      bottom: -20%;
      background: #00000090;
      height: 60%;
      text-align: start;
      width: 100%;
      padding-left: 5%; }
    #user-list-c .user .user-btns {
      position: absolute;
      bottom: 10%;
      width: 100%;
      opacity: 0;
      transition: opacity .3s ease;
      display: grid;
      grid-row: 1;
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); }
      #user-list-c .user .user-btns .user-switch {
        height: 30px;
        width: 90%;
        margin-left: 5%;
        background: linear-gradient(to right, #0064b1 0%, #0fdbff 200%);
        background-size: 250px;
        font-size: 19px;
        text-align: center;
        color: #FFF;
        cursor: pointer; }
  #user-list-c .user:hover .user-name {
    bottom: 0%; }
  #user-list-c .user:hover .user-btns {
    opacity: 1; }
  #user-list-c .user.active .user-name {
    background: #00405e98;
    color: #FFF; }
  #user-list-c .user.active .user-back {
    transform: scale(1.05); }
  #user-list-c .user.active .user-back::after {
    background: rgba(0, 0, 0, 0.1); }

.code-area {
  width: 300px;
  height: calc(100vh - 280px);
  background: #1a1a1a; }
  .code-area .code-container {
    width: 100%;
    height: 150px;
    background: #161616;
    position: relative;
    border-bottom: 2px solid #494949; }
  .code-area #current-code {
    width: 100%;
    height: 100%;
    line-height: 150px;
    text-align: center;
    font-size: 32px;
    font-weight: bold; }
  .code-area #current-user {
    position: absolute;
    left: 25px;
    top: 20px;
    font-size: 20px; }
  .code-area #code-time {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: #006faf;
    transition: all 1s linear; }
  .code-area .code-options {
    display: grid;
    width: 100%;
    position: relative;
    margin-top: 10px; }
    .code-area .code-options .code-option-container {
      width: 100%;
      position: relative;
      margin-top: 10px; }
    .code-area .code-options .code-option {
      padding: 2px 10px 2px 10px;
      margin: 0 10px 0 10px;
      position: relative;
      float: right;
      color: #969696;
      font-size: 20px;
      border-radius: 3px;
      text-transform: uppercase;
      transition: color .2s ease-in-out; }
      .code-area .code-options .code-option i {
        margin-left: 10px; }
    .code-area .code-options .code-option:hover {
      color: #FFF; }
  .code-area input {
    color: #FFF; }

.trades-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll; }
  .trades-container #trades {
    width: calc(100% - 50px);
    margin: 25px 25px 25px 25px;
    height: calc(100% - 50px); }
    .trades-container #trades li {
      margin-bottom: 10px; }
  .trades-container .trade {
    display: block;
    position: relative;
    background: linear-gradient(45deg, #1a5c83 0%, #2b2b2b 100%);
    width: 100%;
    height: 75px;
    float: none;
    overflow: hidden; }
    .trades-container .trade img {
      width: 75px;
      height: 75px;
      background: #00000050;
      float: left; }
    .trades-container .trade .t-details {
      position: absolute;
      left: 78px; }
      .trades-container .trade .t-details .t-name {
        margin: 5px 0 0 5px;
        font-size: 20px;
        line-height: 20px;
        float: none;
        white-space: nowrap; }
      .trades-container .trade .t-details .t-price {
        color: #8f8f8f;
        margin: 7px 0 0 5px;
        font-size: 15px;
        line-height: 15px;
        float: none; }
      .trades-container .trade .t-details .t-date {
        color: #8f8f8f;
        margin: 5px 0 0 5px;
        font-size: 15px;
        line-height: 15px; }
    .trades-container .trade .t-options {
      position: absolute;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75px; }
      .trades-container .trade .t-options div {
        font-size: 20px;
        line-height: 20px; }
      .trades-container .trade .t-options .t-accept {
        color: #006faf;
        font-weight: bold;
        margin-right: 20px; }

.notrades {
  position: absolute;
  display: grid;
  text-align: center;
  row-gap: 10px; }
  .notrades i {
    color: #006faf; }
  .notrades .notrades-sub-text {
    font-size: 18px;
    color: #999999; }
  .notrades #secret {
    color: #FFF;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 7px;
    width: 340px;
    text-align: center; }
  .notrades #secret:focus {
    border-bottom: 1px solid #006faf;
    box-shadow: 0 1px 0 0 #006faf; }
  .notrades #captcha {
    color: #FFF;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 7px;
    text-align: center; }
  .notrades #captcha:focus {
    border-bottom: 1px solid #006faf;
    box-shadow: 0 1px 0 0 #006faf; }

.steam-bottom {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100%;
  height: calc(100vh - 280px); }

#users {
  width: 100%;
  height: 100vh;
  color: #d2d2d2;
  font-size: 25px; }

.side-types {
  position: absolute;
  width: 75px;
  background: #111111;
  margin: 0;
  top: 0;
  bottom: 0; }
  .side-types .types {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    text-align: center; }
  .side-types li {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-top: 10px; }
  .side-types img {
    margin: 0 auto;
    width: 50px;
    height: 50px; }

#user-content {
  position: absolute;
  left: 75px;
  top: 0;
  right: 0;
  bottom: 0; }

#u-content-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(139deg, #2f2f2f 34%, #002c36 100%); }

#u-content {
  width: 80%;
  display: grid;
  position: relative; }

#u-title {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  position: absolute;
  top: 5px;
  left: 10px;
  text-transform: uppercase;
  font-weight: bold; }

#u-status {
  color: #dbdbdb;
  font-size: 20px;
  margin-bottom: 5px; }

#u-speed {
  width: 100%;
  position: relative;
  margin-top: 5px; }
  #u-speed #u-downloaded {
    color: #dbdbdb;
    font-size: 15px;
    margin-top: 7px; }
  #u-speed #u-d-speed {
    color: #dbdbdb;
    font-size: 15px;
    margin: 7px 0 0 10px;
    position: absolute;
    right: 0; }

#u-bar-container {
  width: 100%;
  position: relative; }
  #u-bar-container #u-bar-back {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 2px;
    background: #dbdbdb; }
  #u-bar-container #u-bar-progress {
    position: absolute;
    width: 50%;
    height: 5px;
    background: #0c70ce;
    z-index: 10; }

#alerts {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.342);
  z-index: 1000; }

.s-headline {
  color: #FFF;
  margin: 0 0 20px 0;
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #747474; }

.s-headline-2 {
  color: lightgray;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%; }

.s-headline-3 {
  color: #8b8a8a;
  font-size: 17px;
  margin-top: 0px;
  width: 100%; }

.s-head-container {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px; }
  .s-head-container .s-headline-2 {
    margin: 5px 0 5px 0; }
  .s-head-container .s-headline-3 {
    margin: 0; }

.s-container-area {
  margin-bottom: 30px; }

.s-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  background: #292929;
  width: 100%;
  min-height: 50px;
  position: relative;
  border: 1px solid #383838; }
  .s-container .s-name {
    color: #ebebeb;
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
    margin: 10px; }
  .s-container .s-content {
    margin: 12px; }
    .s-container .s-content .s-info {
      color: #a7a7a7; }
    .s-container .s-content .onoffswitch {
      margin-bottom: 5px; }

.s-container-area .s-container input[type=text] {
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  height: 35px; }

.s-container-area .s-container input[type=password] {
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  height: 35px; }

.s-container-area .s-container input[type=text]:focus {
  border-bottom: 1px solid #006faf;
  box-shadow: 0 1px 0 0 #006faf; }

.s-container-area .s-container input[type=password]:focus {
  border-bottom: 1px solid #006faf;
  box-shadow: 0 1px 0 0 #006faf; }

.s-container-area .s-container input[type=text]:disabled {
  color: dimgray; }

.s-save {
  float: right;
  background: transparent;
  color: #006faf;
  padding: 0 20px 0 20px;
  min-width: 100px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border: 2px #006faf solid;
  border-radius: 1px;
  transition: all .15s ease; }

.s-save:hover {
  background: #006faf;
  color: #000; }

.s-delete {
  float: right;
  background: transparent;
  color: #770000;
  padding: 0 20px 0 20px;
  min-width: 100px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border: 2px #770000 solid;
  border-radius: 1px;
  transition: all .15s ease; }

.s-delete:hover {
  background: #770000;
  color: #000; }

.s-button {
  float: right;
  background: #006faf;
  color: #FFF;
  padding: 0 20px 0 20px;
  min-width: 100px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border-radius: 1px;
  transition: all .15s ease;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

.s-button:hover {
  background: #0084d1; }

.menu-content-container {
  width: 100%;
  height: 100vh;
  background: #1a1919; }

.menu-content .menu-side {
  height: 100vh;
  width: 300px;
  background: #0f0f0f;
  position: relative;
  float: left; }
  .menu-content .menu-side .menu-back {
    position: absolute;
    left: 30px;
    top: 30px;
    color: #e4e4e4;
    border-bottom: 1px solid #7c7c7c;
    width: 40px;
    height: 35px;
    white-space: nowrap;
    text-align: center;
    transition: all .1s ease; }
    .menu-content .menu-side .menu-back i {
      line-height: 20px;
      font-size: 15px;
      float: left; }
    .menu-content .menu-side .menu-back span {
      margin-left: 10px;
      line-height: 20px;
      font-size: 17px;
      width: 240px; }
  .menu-content .menu-side .menu-back:hover {
    color: #FFF; }
  .menu-content .menu-side .menu-list-container {
    margin: 70px 0 0 0;
    width: calc(100% - 20px); }
  .menu-content .menu-side .menu-list-title {
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    margin: 20px 0 10px 30px;
    width: calc(90% - 10px);
    text-transform: uppercase; }
    .menu-content .menu-side .menu-list-title i {
      font-weight: bold;
      float: right; }
  .menu-content .menu-side .menu-list li {
    position: relative; }
  .menu-content .menu-side .menu-li {
    height: 30px;
    width: 100%;
    color: #c9c9c9;
    font-size: 15px;
    line-height: 30px;
    padding-left: 30px;
    transition: color .2s ease; }
  .menu-content .menu-side .menu-li::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 30px;
    background: #006faf;
    visibility: hidden;
    left: 0; }
  .menu-content .menu-side .menu-li:hover {
    color: #FFF; }
  .menu-content .menu-side .menu-li.active:after {
    visibility: visible; }
  .menu-content .menu-side .menu-li.active {
    color: #FFF; }

.menu-main-container {
  position: absolute;
  left: 360px;
  top: 100px;
  width: calc(100% - 360px);
  height: calc(100vh - 130px);
  overflow: hidden;
  overflow-y: scroll; }

.menu-main {
  display: inline-block;
  position: relative;
  padding-right: 60px;
  width: 740px;
  max-width: 100%;
  min-width: 640px;
  background: transparent; }

#menu-ver {
  position: absolute;
  color: #acacac;
  font-size: 15px;
  left: 30px;
  bottom: 30px; }

.settings-title {
  color: #FFF;
  font-size: 40px;
  position: absolute;
  width: 100%;
  top: 25vh;
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  z-index: 10; }

.settings-back {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0f0f0f; }

.settings-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; }
  .settings-container .settings-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 100px;
    grid-gap: 20px; }
    .settings-container .settings-list .setting-container {
      width: 100%;
      height: 100%;
      background: #222222;
      color: #FFF;
      transition: all .075s ease; }
      .settings-container .settings-list .setting-container i {
        float: left;
        font-size: 35px;
        line-height: 70px;
        color: #006faf;
        margin-left: 15px; }
      .settings-container .settings-list .setting-container .setting-content {
        height: 80%;
        width: 60%;
        margin: 20px 15px 15px 15px;
        font-family: 'Roboto', sans-serif; }
        .settings-container .settings-list .setting-container .setting-content h3 {
          margin: 0 0 3px;
          font-size: 18px;
          line-height: 20px; }
        .settings-container .settings-list .setting-container .setting-content span {
          color: #bebebe;
          font-size: 15px;
          line-height: 12px; }
    .settings-container .settings-list .setting-container:hover {
      background: #363636; }

#s-u-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 27px; }

#s-u-icon {
  float: left;
  margin-right: 20px; }
  #s-u-icon i {
    font-size: 40px;
    color: #006faf; }

#s-u-content {
  width: 100%;
  display: grid;
  position: relative; }

#s-u-title {
  color: white;
  font-size: 15px;
  margin-bottom: 5px;
  position: absolute;
  top: 5px;
  left: 10px;
  text-transform: uppercase;
  font-weight: bold; }

#s-u-status {
  color: #dbdbdb;
  font-size: 20px;
  margin-bottom: 5px; }

#s-u-speed {
  width: 100%;
  position: relative;
  margin-top: 5px; }
  #s-u-speed #s-u-downloaded {
    color: #dbdbdb;
    font-size: 15px;
    margin-top: 7px; }
  #s-u-speed #s-u-d-speed {
    color: #dbdbdb;
    font-size: 15px;
    margin: 7px 0 0 10px;
    position: absolute;
    right: 0; }

#s-u-bar-container {
  width: 100%;
  position: relative; }
  #s-u-bar-container #s-u-bar-back {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 2px;
    background: #dbdbdb; }
  #s-u-bar-container #s-u-bar-progress {
    position: absolute;
    width: 50%;
    height: 5px;
    background: #0c70ce;
    z-index: 10; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left;
  height: auto; }
  @media (max-width: 950px) {
    [class*="col-"] {
      float: none;
      width: 100%; } }

.row {
  width: 100%;
  height: auto; }

.row::after {
  content: "";
  clear: both;
  display: table; }
