:root {
  --main-primary: #0077b9;
  --main-bg: #202020;
  --main-bg-light: #252525;
  --main-text: #e9e7e7; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-color: var(--main-bg);
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div {
  float: left; }

#navbar-container {
  margin: 0px;
  width: 100%;
  background-color: transparent;
  padding-bottom: 0px; }

#head {
  position: fixed;
  width: 100%;
  z-index: 100; }

#header {
  height: 35px;
  background: transparent;
  width: 100%;
  -webkit-app-region: drag; }

#navbar {
  list-style-type: none;
  float: right;
  margin-top: 15px;
  padding-right: 20px; }

#navbar li {
  float: left;
  margin-right: 35px;
  text-transform: uppercase; }

.navbar-header {
  color: var(--main-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-shadow: 0px 0px 9px #000000, 0px 0px 9px #000000;
  transition: color 0.2s ease-in-out; }

.navbar-header:hover {
  color: #fff; }

.navbar-games-active {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 9px #000000, 0px 0px 9px #000000; }

#content {
  width: 100%;
  overflow: auto;
  background-color: var(--main-bg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #969696;
  border: 0px none #ffffff;
  border-radius: 50px; }

::-webkit-scrollbar-track {
  background: #66666600;
  border: 0px none #ffffff;
  border-radius: 50px; }

::-webkit-scrollbar-corner {
  background: transparent; }

#games-list {
  position: relative;
  width: 300px;
  height: 100vh;
  float: left;
  background: #111111; }
  #games-list .gl-headline {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 65px;
    left: 20px; }

#games {
  margin: 100px 0 0 20px;
  position: relative;
  width: calc(100% - 20px);
  height: calc(100vh - 100px);
  overflow-y: auto; }

#header-section {
  position: relative;
  background: blue;
  height: 400px;
  width: 100%;
  margin: 0; }
  #header-section #header-img {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position-x: center; }
  #header-section #header-name {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #FFF;
    text-shadow: 0px 0px 9px #000000;
    margin: 0; }

#games-main {
  width: calc(100% - 300px);
  height: 100vh;
  overflow-y: auto;
  background: var(--main-bg); }

#game-content {
  width: 100%;
  height: calc(90vh - 400px); }

.display {
  width: 100%;
  height: 30px;
  padding: 5px 0 5px 0;
  position: relative;
  overflow: hidden; }

.display-img {
  height: 100%;
  position: relative;
  transition: transform .5s ease;
  float: left; }

.display-name {
  position: absolute;
  left: 27px;
  font-family: sans-serif;
  font-size: 16px;
  white-space: nowrap;
  line-height: 20px;
  color: var(--main-text);
  cursor: default; }

.display:hover {
  background: #FFFFFF10; }

#menu-items {
  width: calc(100% - 30px);
  height: 50px;
  margin: 15px;
  list-style-type: none; }
  #menu-items li {
    float: left;
    padding-right: 50px; }
  #menu-items li:last-child {
    padding-right: 0; }

.info-item {
  display: grid;
  grid-auto-rows: 1fr 1fr; }
  .info-item .info-title {
    color: #9c9c9c;
    font-size: 19px;
    line-height: 19px; }
  .info-item .info-value {
    color: white;
    font-size: 17px;
    line-height: 1fr; }

.launch-btn {
  width: 240px;
  height: 50px;
  background: linear-gradient(to right, #0064b1 0%, #0fdbff 100%);
  color: #FFF;
  line-height: 50px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  background-size: 450px 1px;
  transition: background .6s ease-out; }

.launch-btn:hover {
  background-position-x: -210px; }

#users {
  margin: 100px 0 20px 20px;
  color: #d2d2d2;
  font-size: 25px; }

.u-display {
  margin: 0 20px 20px 0;
  height: 100px;
  background: var(--main-bg-light);
  float: left;
  position: relative;
  width: 200px; }

.u-name {
  margin: 10px; }

.u-btn-switch {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: var(--main-primary);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  height: 30px;
  line-height: 30px;
  cursor: pointer; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left;
  height: auto; }
  @media (max-width: 950px) {
    [class*="col-"] {
      float: none;
      width: 100%; } }

.row {
  width: 100%;
  height: auto; }

.row::after {
  content: "";
  clear: both;
  display: table; }
