:root {
  --main-primary: #0077b9;
  --main-bg: #202020;
  --main-bg-light: #252525;
  --main-text: #e9e7e7; }

* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  background-color: var(--main-bg);
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div {
  float: left; }

#navbar-container {
  margin: 0px;
  width: 100%;
  background-color: transparent;
  padding-bottom: 0px;
  overflow: hidden; }

#head {
  position: fixed;
  width: 100%;
  z-index: 100; }

#header {
  height: 35px;
  background: transparent;
  width: 100%;
  -webkit-app-region: drag; }

#navbar {
  list-style-type: none;
  float: right;
  margin-top: 15px;
  padding-right: 20px; }

#navbar li {
  float: left;
  margin-right: 25px;
  text-transform: uppercase; }

.navbar-header {
  color: var(--main-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-shadow: 0px 0px 9px #000000, 0px 0px 9px #000000;
  transition: color 0.2s ease-in-out;
  width: calc(auto + 10px); }

.navbar-header.active {
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 0px 9px #000000, 0px 0px 9px #000000; }

.navbar-header:hover {
  color: #fff; }

#content {
  width: 100%;
  overflow: auto;
  background-color: var(--main-bg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0; }

::-webkit-scrollbar {
  width: 7px;
  height: 7px; }

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-thumb {
  background: #969696;
  border: 0px none #ffffff;
  border-radius: 50px; }

::-webkit-scrollbar-track {
  background: #66666600;
  border: 0px none #ffffff;
  border-radius: 50px; }

::-webkit-scrollbar-corner {
  background: transparent; }

#games-list {
  position: relative;
  width: 300px;
  height: 100vh;
  float: left;
  background: #111111; }
  #games-list .gl-headline {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 65px;
    left: 20px; }

#games {
  margin: 100px 0 0 20px;
  position: relative;
  width: calc(100% - 20px);
  height: calc(100vh - 100px);
  overflow-y: auto; }

#header-section {
  position: relative;
  background: blue;
  height: 400px;
  width: 100%;
  margin: 0; }
  #header-section #header-img {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position-x: center; }
  #header-section #header-name {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #FFF;
    text-shadow: 0px 0px 9px #000000;
    margin: 0; }

#games-main {
  width: calc(100% - 300px);
  height: 100vh;
  overflow-y: auto;
  background: var(--main-bg); }

#game-content {
  width: 100%;
  height: calc(90vh - 400px); }

.display {
  width: 100%;
  height: 30px;
  padding: 5px 0 5px 0;
  position: relative;
  overflow: hidden; }

.display-img {
  height: 100%;
  position: relative;
  transition: transform .5s ease;
  float: left; }

.display-name {
  position: absolute;
  left: 27px;
  font-family: sans-serif;
  font-size: 16px;
  white-space: nowrap;
  line-height: 20px;
  color: var(--main-text);
  cursor: default; }

.display:hover {
  background: #FFFFFF10; }

#menu-items {
  width: calc(100% - 30px);
  height: 50px;
  margin: 15px;
  list-style-type: none; }
  #menu-items li {
    float: left;
    padding-right: 50px; }
  #menu-items li:last-child {
    padding-right: 0; }

.info-item {
  display: grid;
  grid-auto-rows: 1fr 1fr; }
  .info-item .info-title {
    color: #9c9c9c;
    font-size: 19px;
    line-height: 19px; }
  .info-item .info-value {
    color: white;
    font-size: 17px;
    line-height: 1fr; }

.launch-btn {
  width: 240px;
  height: 50px;
  background: linear-gradient(to right, #0064b1 0%, #0fdbff 100%);
  color: #FFF;
  line-height: 50px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  background-size: 450px 1px;
  transition: background .6s ease-out; }

.launch-btn:hover {
  background-position-x: -210px; }

#user-list-c {
  position: relative;
  padding-top: 120px;
  width: 100%;
  height: 280px;
  background: url("https://steamstore-a.akamaihd.net/public/images/v6/colored_body_top2.png?v=2");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: scroll;
  overflow-y: hidden; }
  #user-list-c #user-list {
    margin: 0;
    margin-left: 10px;
    position: relative;
    white-space: nowrap;
    text-align: center; }
  #user-list-c li {
    display: inline-block;
    position: relative;
    margin-right: 15px; }
  #user-list-c .user {
    width: 250px;
    height: 150px;
    position: relative;
    overflow: hidden;
    float: none; }
    #user-list-c .user .user-back {
      background: url("https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/47/476f16d1a2188f6dee5ac57a20fc2b6004ed1449_full.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
    #user-list-c .user .user-back::after {
      content: '';
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }
    #user-list-c .user .user-name {
      transition: bottom .15s ease-in-out;
      position: absolute;
      bottom: -20%;
      background: #00000090;
      height: 60%;
      text-align: start;
      width: 100%;
      padding-left: 5%; }
    #user-list-c .user .user-name.active {
      background: #004ad38c; }
    #user-list-c .user .user-btns {
      position: absolute;
      bottom: 10%;
      width: 100%;
      opacity: 0;
      transition: opacity .3s ease;
      display: grid;
      grid-row: 1;
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); }
      #user-list-c .user .user-btns .user-switch {
        height: 30px;
        width: 90%;
        margin-left: 5%;
        background: linear-gradient(to right, #0064b1 0%, #0fdbff 200%);
        background-size: 250px;
        font-size: 19px;
        text-align: center;
        color: #FFF;
        cursor: pointer; }
  #user-list-c .user:hover .user-name {
    bottom: 0%; }
  #user-list-c .user:hover .user-btns {
    opacity: 1; }

.code-area {
  width: 300px;
  height: calc(100vh - 280px);
  background: #1a1a1a; }
  .code-area .code-container {
    width: 100%;
    height: 150px;
    background: #161616;
    position: relative; }
  .code-area #current-code {
    width: 100%;
    height: 100%;
    line-height: 150px;
    text-align: center;
    font-size: 32px; }
  .code-area #code-time {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: #006faf;
    transition: all 1s linear; }
  .code-area input {
    color: #FFF; }

.trades-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll; }
  .trades-container #trades {
    width: calc(100% - 50px);
    margin: 25px 25px 25px 25px;
    height: calc(100% - 50px); }
    .trades-container #trades li {
      margin-bottom: 10px; }
  .trades-container .trade {
    display: block;
    position: relative;
    background: linear-gradient(45deg, #1a5c83 0%, #2b2b2b 100%);
    width: 100%;
    height: 75px;
    float: none;
    overflow: hidden; }
    .trades-container .trade img {
      width: 75px;
      height: 75px;
      background: #00000050;
      float: left; }
    .trades-container .trade .t-details {
      position: absolute;
      left: 78px; }
      .trades-container .trade .t-details .t-name {
        margin: 5px 0 0 5px;
        font-size: 20px;
        line-height: 20px;
        float: none;
        white-space: nowrap; }
      .trades-container .trade .t-details .t-price {
        color: #8f8f8f;
        margin: 7px 0 0 5px;
        font-size: 15px;
        line-height: 15px;
        float: none; }
      .trades-container .trade .t-details .t-date {
        color: #8f8f8f;
        margin: 5px 0 0 5px;
        font-size: 15px;
        line-height: 15px; }
    .trades-container .trade .t-options {
      position: absolute;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75px; }
      .trades-container .trade .t-options div {
        font-size: 20px;
        line-height: 20px; }
      .trades-container .trade .t-options .t-accept {
        color: #006faf;
        font-weight: bold;
        margin-right: 20px; }

.notrades {
  position: absolute;
  display: grid;
  text-align: center;
  row-gap: 10px; }
  .notrades i {
    color: #006faf; }
  .notrades .notrades-sub-text {
    font-size: 18px;
    color: #999999; }
  .notrades #secret {
    color: #FFF;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 7px;
    width: 340px; }
  .notrades #secret:focus {
    border-bottom: 1px solid #006faf;
    box-shadow: 0 1px 0 0 #006faf;
    text-align: center; }
  .notrades #captcha {
    color: #FFF;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 7px; }
  .notrades #captcha:focus {
    border-bottom: 1px solid #006faf;
    box-shadow: 0 1px 0 0 #006faf;
    text-align: center; }

.steam-bottom {
  display: grid;
  grid-template-columns: 300px 1fr;
  width: 100%;
  height: calc(100vh - 280px); }

#users {
  width: 100%;
  height: 100vh;
  color: #d2d2d2;
  font-size: 25px; }

.side-types {
  position: absolute;
  width: 75px;
  background: #111111;
  margin: 0;
  top: 0;
  bottom: 0; }
  .side-types .types {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    text-align: center; }
  .side-types li {
    display: inline-block;
    width: 100%;
    height: 50px;
    margin-top: 10px; }
  .side-types img {
    margin: 0 auto;
    width: 50px;
    height: 50px; }

#user-content {
  position: absolute;
  left: 75px;
  top: 0;
  right: 0;
  bottom: 0; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left;
  height: auto; }
  @media (max-width: 950px) {
    [class*="col-"] {
      float: none;
      width: 100%; } }

.row {
  width: 100%;
  height: auto; }

.row::after {
  content: "";
  clear: both;
  display: table; }
